{% extends "layout.html" %}
{% import "components/forms.html" as forms %}

{% block content %}
<div class="flex flex-col pt-8">
	<div class="text-center border-b border-gray-900/10 pb-2">
		<h1 class="text-2xl font-bold">New Todo</h1>	
	</div>
	<div class="pt-8 self-center">
		<form class="w-96" action="/todo" method="POST">
			{{ forms::input_form(id="input-task", label="Task", type="text", value="", class="", attributes="required") }}
			{{ forms::input_textarea_form(id="input-description", label="Description", value="", class="pt-4", attributes="required") }}

			<div class="flex justify-between gap-4 mt-4">
				{{ forms::button_link_form(href="/", text="Cancel", style="secondary", class="", attributes="") }}
				{{ forms::button_form(type="submit", text="Create", style="primary", class="", attributes="") }}
			</div>
		</form>
	</div>
</div>
{% endblock %}